{% include 'header.html' %}
{% include 'navbar.html' %}

<h1>Hello Cared Design</h1>
<p>It is currently {{time}}.</p>

Follow the step:
<li>Add Hospital <a href = "/addHospital?hospital=NTU1 " >http://[domain]/addHospital?hospital=NTU1</a></li>
<li>Add File <a href = "/addFile?hospital=NTU1&filename=example_37_14 ">http://[domain]/addFile?hospital=NTU1&filename=example_37_14</a></li>
<li>Feature <a href = "/feature?hospital=NTU1&filename=example_37_14 ">http://[domain]/feature?hospital=NTU1&filename=example_37_14</a></li>
<li>Predict <a href = "/predict?hospital=NTU1&filename=example_37_14&f1=1&f3=1&f7=1 ">http://[domain]/predict?hospital=NTU1&filename=example_37_14&f1=1&f3=1&f7=1</a></li>

{% include 'footer.html' %}